/* Write your code here. */
.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.small,
.medium,
.large {
  margin: 20px;
}
.small {
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fbbf24;
}
.medium {
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #38bdf8;
}
.large {
  height: 400px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ec4899;
}
@media (min-width: 768px) {
  .root {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }
  .box-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
